.home {
  width: 100%;
  padding: 32px 24px 64px;

  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 64px;


  @include viewport-medium {
    padding: 32px 0px 64px;
    max-width: $container-max-width-medium;
  }

  @include viewport-xl {
    max-width: $container-max-width-xl;
  }

  @include viewport-xxl {
    max-width: $container-max-width-xxl;
  }
}