$color-black-50: #f7f7f7;
$color-black-100: #e3e3e3;
$color-black-200: #c8c8c8;
$color-black-300: #a4a4a4;
$color-black-400: #818181;
$color-black-500: #666666;
$color-black-600: #515151;
$color-black-700: #434343;
$color-black-800: #383838;
$color-black-900: #313131;
$color-black-950: #000000;
$color-milano-red-50: #fff1f1;
$color-milano-red-100: #ffdfdf;
$color-milano-red-200: #ffc5c5;
$color-milano-red-300: #ff9d9d;
$color-milano-red-400: #ff6565;
$color-milano-red-500: #ff3434;
$color-milano-red-600: #ed1515;
$color-milano-red-700: #c00d0d;
$color-milano-red-800: #a50f0f;
$color-milano-red-900: #881414;
$color-milano-red-950: #4a0505;
$color-supernova-50: #fffee7;
$color-supernova-100: #fffec1;
$color-supernova-200: #fff886;
$color-supernova-300: #ffec41;
$color-supernova-400: #ffdb0d;
$color-supernova-500: #ffcc00;
$color-supernova-600: #d19500;
$color-supernova-700: #a66a02;
$color-supernova-800: #89530a;
$color-supernova-900: #74430f;
$color-supernova-950: #442304;

$color-brand-yellow: $color-supernova-500;
$color-brand-black: $color-black-950;
$color-brand-red: $color-milano-red-700;

$color-open-color-gray-0: #f8f9fa;
$color-open-color-gray-1: #f1f3f5;
$color-open-color-gray-2: #e9ecef;
$color-open-color-gray-3: #dee2e6;
$color-open-color-gray-4: #ced4da;
$color-open-color-gray-5: #adb5bd;
$color-open-color-gray-6: #868e96;
$color-open-color-gray-7: #495057;
$color-open-color-gray-8: #343a40;
$color-open-color-gray-9: #212529;
$color-open-color-gray-10: #1b1e21;
