.header {
  padding: 8px 0 16px;

  &__brand {
    height: 46px;
    width: 100%;
    max-width: 190px;

    img {
      height: 100%;
    }
  }

  &__container {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
  }

  @include viewport-medium {
    &__container {
      padding: 0;
      max-width: $container-max-width-medium;
    }
  }

  @include viewport-xl {
    &__container {
      max-width: $container-max-width-xl;
    }
  }

  @include viewport-xxl {
    &__container {
      max-width: $container-max-width-xxl;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 190px;

    & .menu__button {
      position: relative;
      width: 40px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: none;
      border: none;

      & img {
        z-index: -1;

        &.open {
          display: block;
        }

        &.close {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &--close {
        z-index: 99;

        &.open {
          z-index: -1;
          display: none;
        }

        &.close {
          z-index: -1;
          display: block;
        }

      }
    }
  }

  &__search {}
}

.navigation {



  @include viewport-large-max {

    &--open {

      background: $color-open-color-gray-0;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100vh;

      & .navigation__links {
        background: $color-open-color-gray-0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        li {
          position: relative;
          font: $typography-heading-2;
        }
      }
    }
  }

  &__links {
    display: none;
    gap: 24px;

    li {
      position: relative;
      font: $typography-navigation;
      color: $color-open-color-gray-9;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-brand-red;
        position: absolute;
        bottom: -4px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  @include viewport-xl {
    &__links {
      display: flex;
    }
  }
}

.theme {
  &__button {
    position: relative;
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  & .menu__button {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__icon {
    transition: 0.3s;
    transform: rotate(120deg);
    transform-origin: 0 20px;
  }
}