.header {
  padding: 8px 0 16px;
  &__brand {
    height: 46px;
    width: 100%;
    max-width: 190px;

    img {
      height: 100%;
    }
  }

  &__container {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
  }

  @include viewport-medium {
    &__container {
      padding: 0;
      max-width: $container-max-width-medium;
    }
  }

  @include viewport-xl {
    &__container {
      max-width: $container-max-width-xl;
    }
  }
  @include viewport-xxl {
    &__container {
      max-width: $container-max-width-xxl;
    }
  }

  &__menu {
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 190px;

    & button {
      width: 40px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: none;
      border: none;
    }
  }
  &__search {
  }
}
.navigation {
  &__links {
    display: none;
    gap: 24px;

    li {
      font: $typography-navigation;
    }
  }

  @include viewport-xl {
    &__links {
      display: flex;
    }
  }
}

.theme {
  &__icon {
    transition: 0.3s;
    transform: rotate(120deg);
    transform-origin: 0 20px;
  }
}
