.author {
  display: flex;
  align-items: center;
  gap: 16px;

  &__name {
    font: $typography-author;
    color: $color-open-color-gray-9;
  }

  &__picture {
    height: 48px;
    aspect-ratio: 1/1;
    background-color: $color-open-color-gray-5;
    border-radius: 50%;
    overflow: hidden;

    & img {
      object-fit: contain;
      object-position: top;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
  }

  &--large {
    .author__picture {
      height: 96px;
    }
  }

  &--hidden-date {
    .post__date {
      display: none;
    }
  }
}