body.dark {
  color: $color-open-color-gray-1;
  background: $color-open-color-gray-9;

  & .light-mode-only {
    display: none;
  }

  & .dark-mode-only {
    display: block;
  }

  .header,
  .footer {
    background: $color-open-color-gray-10;
  }

  .navigation {
    background: $color-open-color-gray-10;

    &__links {
      background: $color-open-color-gray-10;

      li {
        color: $color-open-color-gray-1;

        &::after {
          background-color: $color-brand-yellow;
        }
      }
    }

    &.pagination {
      background: transparent;
    }
  }

  .footer {
    &__title {
      color: $color-open-color-gray-1;
    }

    &__links {
      color: $color-open-color-gray-3;
    }

    &__rights {
      color: $color-open-color-gray-3;
    }
  }

  .btn {
    &--share {
      color: $color-open-color-gray-5;
    }
  }

  .author {
    &__name {
      color: $color-open-color-gray-1;
    }
  }
}