body.dark {
  background: $color-open-color-gray-9;

  & .light-mode-only {
    display: none;
  }
  & .dark-mode-only {
    display: block;
  }

  .header,
  .footer {
    background: $color-open-color-gray-10;
  }

  .footer {
    &__title {
      color: $color-open-color-gray-1;
    }
    &__links {
      color: $color-open-color-gray-3;
    }
    &__rights {
      color: $color-open-color-gray-3;
    }
  }
}
