body.dark {
  & .light-mode-only {
    display: none;
  }
  & .dark-mode-only {
    display: block;
  }
}

body {
  & .light-mode-only {
    display: block;
  }
  & .dark-mode-only {
    display: none;
  }
}
