$typography-default: normal 400 16px/100% "Inter", sans-serif;

$typography-heading-1: normal 700 2.75rem/130% "Inter", sans-serif;
$typography-heading-2: normal 700 2.25rem/125% "Inter", sans-serif;
$typography-heading-3: normal 700 1.75rem/130% "Inter", sans-serif;
$typography-heading-4: normal 700 1.25rem/130% "Inter", sans-serif;

$typography-body: normal 400 1.125rem/150% "Inter", sans-serif;
$typography-button: normal 700 0.875rem/150% "Inter", sans-serif;

$typography-author: normal 700 1rem/150% "Inter", sans-serif;
$typography-navigation: normal 500 1rem/120% "Inter", sans-serif;
$typography-date: normal 400 0.875rem/130% "Inter", sans-serif;
